<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADpyXCf7xfJL6c00NPXeuRvICdF0wRMJw</string>
	<key>GCM_SENDER_ID</key>
	<string>138394744791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Bettor</string>
	<key>PROJECT_ID</key>
	<string>bettor-e8ca6</string>
	<key>STORAGE_BUCKET</key>
	<string>bettor-e8ca6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138394744791:ios:30e287fdde70aea9027d92</string>
	<key>DATABASE_URL</key>
	<string>https://bettor-e8ca6-default-rtdb.firebaseio.com</string>
</dict>
</plist>